* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: white;
}

.material-icons {
  color: black;
}

.btn {
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  background-color: #33356b;
  width: 250px;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 12px;
}

.mini-text {
  font-size: 11px;
}

.home-routines {
  display: flex;
  flex-direction: column;
}

.routine-btn {
  border-radius: 4px;
  text-align: center;
  background-color: #33356b;
  width: 260px;
  height: 50px;
  padding: 5px;
  color: white;
  margin: 5px 5px 5px 5px;
}
